body{
    background: #9F9F9F;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 870px;
    background: #ffff;
    padding: 20px;
    border-radius: 5px;
}

a{
    text-decoration: none;
}
.top-title{
    color: #562EFF;
    font-size: 24px;
}

.player-img img{
    width: 56px;
    height: 56px;
    margin-right: 15px;
}

.player-info{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}



.blog-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.blogs{
    margin-bottom: 22px;
}

.blog-img img{
    width: 177px;
    height: 117px;
}
.blog-img{
    margin-right: 10px;
}
.blog-detail{
    padding: 0 15px;
}

.blogs{
    display: flex;
}

.latest-course{
    margin-top: 20px;
}



.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.course-thumbnail{
    margin-bottom: 10px;
}
.course-thumbnail img{
    width: 224px;
    height: 104px;
}
.course-detail{
    padding: 15px;
    box-shadow: 1px 5px 10px rgba(0,0,0,.2);
    margin-right: 10px;
}
.course-detail :nth-child(3){
    margin-right: 0;
}
.course-title h3{
    margin: 0;
    padding: 0;
}
.course-title a{
    padding-top: 10px;
}